@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
    font-family: "Basteleur";
    src:
        url("/fonts/Basteleur-Bold.woff2") format("woff2"),
        url("/fonts/Basteleur-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Basteleur";
    src:
        url("/fonts/Basteleur-Moonlight.woff2") format("woff2"),
        url("/fonts/Basteleur-Moonlight.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sorts Mill Goudy";
    src: url("/fonts/SortsMillGoudy-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sorts Mill Goudy";
    src: url("/fonts/SortsMillGoudy-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

.font-mono {
    font-family: "IBM Plex Mono", monospace;
}

.font-basteleur {
    font-family: "Basteleur", serif;
    line-height: 1;
    transform: translateY(0.1em);
}

.font-goudy {
    font-family: "Sorts Mill Goudy", serif;
}
